@charset "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Syncopate);

html, body { 
  height: 100%; 
}
body {
  background-color: red;
  text-align: center;
}
h1 {
  display: inline-block;
  padding-top: 50px;
  font-family: 'Syncopate', sans-serif;
  text-transform: uppercase;
  background-color:white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.setcolor{
color:white;
}